<div class="ml-8 mt-8 flex flex-col gap-10">
    <a href="/dashboard">Voltar para a Dashboard</a>


    <form action="/dashboard/add" method="post" class="flex flex-col gap-3">
    <h1 class="text-4xl border-l-4 border-yellow-500 pl-5 h-20 pt-5">Criando um Novo Pensamento:</h1>

        <label for="tought">Pensamento:</label>
        <input type="text" name="tought" id="tought" placeholder="Digite um pensamento..." class="w-80 py-3 px-2">
        <input type="submit" value="Criar Pensamento!" class="w-40">

    </form>
</div>